<nav>
    <ul>
        <% for (let i=0; i < links.length; i++) { %>
            <li>
                <a href="<%= links[i].href %>">
                    <span>
                        <%= links[i].text %>
                    </span>
                </a>
            </li>
        <% } %>
    </ul>

    <button>Home</button>
    <button>
        <a href="/new">New</a>
    </button>
</nav>