<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Message Board</title>
</head>

<body>
    <div class="main-container">
        <div class="wrapper">
            <h1>Create a message</h1>
            <%- include('form') %>

            <a href="/" class="button">Cancel</a>
        </div>
    </div>
</body>

</html>