*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select,
dialog {
  font: inherit;
}

/* =========== reset ends here ============ */

body {
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-width: 300px;
  padding: 2rem;

  color: oklch(30% 0 0);
  background-color: oklch(50% 0 0);
  font-family: sans-serif;
}

nav {
  display: flex;
  gap: 20px;
  padding: 10px;

  a {
    font-weight: bold;
    color: black;
    text-decoration: none;

    span {
      font-size: 1.5rem;
      padding: 10px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  font-weight: 600;
  color: oklch(30% 0 0);
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  max-width: 1280px;
  width: 100%;

  background-color: white;

  border: tan solid 12px;
  border-top: #bda27e solid 12px;
  border-left: #b19876 solid 12px;
  border-bottom: #c9ad86 solid 12px;
  box-shadow:
    0px 0px 6px 5px rgba(58, 18, 13, 0),
    0px 0px 0px 2px #c2a782,
    0px 0px 0px 4px #a58e6f,
    3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.5),
    inset -2px -2px 3px rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
  }

  a {
    font-size: 1.5rem;
    text-align: center;

    background-color: oklch(90% 0 0);

    &:hover {
      background-color: oklch(92% 0 0);
    }

    &:active {
      background-color: oklch(80% 0 0);
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 600px;
  width: 100%;
}

/* index board */
.message-board {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  max-width: 600px;

  li {
    border: 1px solid oklch(70% 0 0);
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: oklch(90% 0 0);
    }
  }

  h2 {
    color: oklch(20% 0 0);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: 600;
    font-size: 1.25rem;
    color: oklch(45% 0 0);
  }

  input,
  textarea {
    padding: 0.5rem 1rem;
    border: 1px solid oklch(80% 0 0);
  }

  textarea {
    resize: none;
  }
}

button,
/* a tag styled as button */
.main-container .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: oklch(92% 0 0);
  background-color: oklch(25% 0 0);
}
button:hover,
.main-container .button:hover {
  color: oklch(92% 0 0);
  background-color: oklch(30% 0 0);
}
button:active,
.main-container .button:active {
  background-color: oklch(20% 0 0);
}

.message-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message-group {
  display: flex;
  gap: 0.25rem;

  p:first-child {
    min-width: 80px;
  }
}
